# Stock Market Technical Indicators

### Add Project Directory To path

In [1]:
import os
import pandas as pd
# Get the current working directory (where the notebook is running)
notebook_dir = os.getcwd()
parent_path=os.path.dirname(notebook_dir)

os.chdir(parent_path)

### Import Module

In [2]:
from script.stock_analyzer import StockAnalyzer
analyzer=StockAnalyzer()

### Import Data

In [3]:
headline_df=pd.read_csv('data/raw_analyst_ratings.csv')

## Apple's Stock

In [4]:
#get the day range
min_date,max_date=analyzer.get_day_range(headline_df,'AAPL')

Max date: 2020-06-10 00:00:00
Min date: 2020-03-09 00:00:00

### Apple's Historical Data

In [5]:
#retrieve data using yfinance
apple_stock_data=analyzer.retrieve_stock_data('AAPL',min_date,max_date)
apple_stock_data.head()

[*********************100%***********************]  1 of 1 completed

Price       Adj Close      Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL       AAPL
Date
2020-03-09  64.664902  66.542503  69.522499  65.750000  65.937500  286744800
2020-03-10  69.322174  71.334999  71.610001  67.342499  69.285004  285290000
2020-03-11  66.914574  68.857498  70.305000  67.964996  69.347504  255598800
2020-03-12  60.306450  62.057499  67.500000  62.000000  63.985001  418474000
2020-03-13  67.531677  69.492500  69.980003  63.237499  66.222504  370732000

### Calculate Technical Indicators

In [7]:
# Calculate technical indicators
apple_stock_data_indicators = analyzer.calculate_technical_indicators(apple_stock_data,'AAPL')
apple_stock_data_indicators.tail()

Price,Adj Close,Close,High,Low,Open,Volume,SMA,RSI,EMA,MACD,MACD_Signal
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,,,,,
Date,,,,,,,,,,,
2020-06-03,79.200371,81.279999,81.550003,80.574997,81.165001,104491200,78.627876,68.538887,78.126181,2.443072,2.593375
2020-06-04,78.518265,80.580002,81.404999,80.195000,81.097504,87560400,78.899001,64.613988,78.359878,2.350095,2.544719
2020-06-05,80.754555,82.875000,82.937500,80.807503,80.837502,137250400,79.246001,70.565405,78.789890,2.433545,2.522484
2020-06-08,81.232018,83.364998,83.400002,81.830002,82.562500,95654400,79.537626,71.661291,79.225614,2.510281,2.520043
2020-06-09,83.797157,85.997498,86.402496,83.002502,83.035004,147712400,79.899875,76.683830,79.870556,2.751795,2.566394

## Google's Stock

In [8]:
#get the day range
min_date,max_date=analyzer.get_day_range(headline_df,'GOOG')

Max date: 2020-06-10 00:00:00
Min date: 2018-11-13 00:00:00

### Historical Data

In [9]:
#retrieve data using yfinance
apple_stock_data=analyzer.retrieve_stock_data('GOOG',min_date,max_date)
apple_stock_data.head()

[*********************100%***********************]  1 of 1 completed

Price       Adj Close      Close       High        Low       Open    Volume
Ticker           GOOG       GOOG       GOOG       GOOG       GOOG      GOOG
Date
2018-11-13  51.617035  51.802502  52.830250  51.557499  52.164501  30274000
2018-11-14  51.996170  52.182999  52.728199  51.549999  52.500000  31318000
2018-11-15  53.044903  53.235500  53.592499  51.589001  52.235500  36722000
2018-11-16  52.884480  53.074501  53.349998  52.449001  52.970501  33162000
2018-11-19  50.817410  51.000000  53.039501  50.813000  52.860001  37172000

### Calculate Technical Indicators

In [10]:
# Calculate technical indicators
apple_stock_data_indicators = analyzer.calculate_technical_indicators(apple_stock_data,'GOOG')
apple_stock_data_indicators.tail()

Price,Adj Close,Close,High,Low,Open,Volume,SMA,RSI,EMA,MACD,MACD_Signal
Ticker,GOOG,GOOG,GOOG,GOOG,GOOG,GOOG,,,,,
Date,,,,,,,,,,,
2020-06-03,71.561874,71.819000,72.327599,71.488853,71.915001,25124000,69.827938,66.602102,69.598734,1.824630,1.844852
2020-06-04,70.356201,70.609001,71.947998,70.236504,71.519997,29686000,69.990138,58.926016,69.694950,1.684359,1.812754
2020-06-05,71.662010,71.919502,72.252502,70.300003,70.658501,34698000,70.154713,63.793213,69.906812,1.659807,1.782164
2020-06-08,72.071541,72.330498,72.399498,71.116997,71.116997,28084000,70.300313,65.186511,70.137639,1.654441,1.756620
2020-06-09,72.547333,72.807999,73.400002,72.160500,72.267998,28184000,70.432563,66.785704,70.391959,1.669475,1.739191